@{
    ViewBag.Title = "Change Password";
}

<div class="col-md-12 padLefAndRight">
    <div class="panel panel-danger minheight" style="margin-top:5px">
        <div class="panel-heading" style="background-color: #fff;">
            <h4><b>Change Password Form</b></h4>
            <a href="#" class="pull-right" style="margin-top: -27px;" data-toggle="modal" data-target="#myModal">Need help?</a>
        </div>
        <div id="divCpValidate" class="divVerify" style="display:none"><p class="pVerify"><b style="color: #cc0001;">Please fill-up all required fields.</b></p></div>
        <div class="panel-body">
            <div class="col-md-4">
                <div class="divMarginTop">
                    @{
                        string[] val = User.Identity.Name.Split('|');
                    }
                    <label for="lblusername">Username</label>
                    <input type="text" value="@val[0].Trim()" class="form-control" id="txtusername" readonly />
                </div>
                <div class="divMarginTop">
                    <label for="lblcurpass">Current Password</label> &nbsp;<label style="color:red"><i class="glyphicon glyphicon-pencil"></i>Required!</label>
                    <input type="password" class="form-control" id="txtcurpass" />
                </div>
                <div class="divMarginTop">
                    <label for="lblnewpass">New Password</label> &nbsp;<label style="color:red"><i class="glyphicon glyphicon-pencil"></i>Required!</label>
                    <input type="password" class="form-control" id="txtnewpass" />
                </div>
                <div class="divMarginTop">
                    <label for="lblconfrmpass">Confirm Password</label> &nbsp;<label style="color:red"><i class="glyphicon glyphicon-pencil"></i>Required!</label>
                    <input type="password" class="form-control" id="txtconfrmpass" />
                </div>
                <br /><br />
                <button id="btnUserUpdatePass" class="btn btn-success fileinput-button pull-right" data-action="@Url.Action("ChangePassword", "User")">
                    <span id="loadingImg" style="display:none" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    <i class="glyphicon glyphicon-edit"></i>Change Password
                </button>
            </div>


        </div>
    </div>
</div>