
@{
    ViewBag.Title = "Request For Change Report";
}

<div class="col-md-12 padLefAndRight">
    <div class="row-1">
        <div class="panel panel-danger minheight" style="margin-top:5px">
            <div class="panel-heading" style="background-color: #fff;">
                <h4><b>Request For Change Report Form</b></h4>
                <a href="#" class="pull-right" style="margin-top: -27px;" data-toggle="modal" data-target="#myModal">Need help?</a>
            </div>
            <div class="panel-body">
                <div class="col-md-3 adjustPadding">
                    <label for="txtdtFrom">Date From</label>
                    <input type="date" class="form-control" id="txtdtFrom" />
                </div>
                <div class="col-md-3 adjustPadding">
                    <label for="txtdtTo">Date To</label>
                    <input type="date" class="form-control" id="txtdtTo" />
                </div>
                <div class="col-md-3 adjustPadding">
                    <button id="btnSearch" class="btn btn-danger" style="margin-top: 21px;"><i class="glyphicon glyphicon-search"></i>  Search</button>
                </div>

                <div class="col-md-12 adjustPadding">
                    <br />
                    <h4 style="color: #cc0001;"><b>Search Result</b></h4>
                </div>
            </div>
        </div>
    </div>

</div>
