<div class="input-group">
    <label>Company</label>&nbsp;<label style="color:green"><i class="glyphicon glyphicon-pencil"></i> Optional!</label>
    <textarea style="resize: none;" class="form-control text-uppercase" id="txtCompanyName" readonly></textarea>
    <span class="input-group-btn" style="padding-top: 22px;padding-left: 3px;">
        <button id="btnViewCompanies" type="button" class="btn btn-warning" data-url="@Url.Action("ListOfCompany", "BillsPay")"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;View <br /> Companies</button>
    </span>
</div>
